@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#settings-main-light {
    position: relative;
    top: -25vw;
}  

#settings-form-dark {
    margin-left: 0vw;
}

#settings-form-dark label {
    position: relative;
    left: 8vw;
}

.settings-input-dark {
    width: 50vw;
}

#file-input-dark {
    width: 60vw;
}

#submit-changes-button-light {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    height: 20vw;
    width: 20vw;
    margin-left: 15vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: green;
    border: 2px solid greenyellow;
  }

#submit-changes-button-dark {
    color: yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    height: 20vw;
    width: 20vw;
    margin-left: 15vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: darkblue;
    border: 2px solid turquoise;
}

#selected-img-light {
    position: relative;
    left: 17vw;
    margin-bottom: 2vw;
    max-width: 15vw;
    max-height: 15vw;
}

#selected-img-dark {
    position: relative;
    left: 19vw;
    margin-bottom: 2vw;
    max-width: 15vw;
    max-height: 15vw;
}

#image-input-light {
    text-align: center;
    padding-left: 8vw;
    padding-top: 2vw;
}

#image-input-dark {
    width: 41vw;
    text-align: center;
    padding-left: 10vw;
    padding-top: 2vw;
}

#delete-account-button-unfolded-light {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 15vw;
    padding-right: 15vw;
    padding-left: 6vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: red;
    border: 2px solid greenyellow;
}

#delete-account-button-folded-light {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 35vw;
    padding-right: 15vw;
    padding-left: 6vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: red;
    border: 2px solid greenyellow;
}

#delete-account-button-unfolded-dark {
    color: yellow;
    position: relative;
    left: -25vw;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 15vw;
    padding-right: 15vw;
    padding-left: 6vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: red;
    border: 2px solid turquoise;
}

#delete-account-button-folded-dark {
    color: yellow;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 10vw;
    padding-right: 15vw;
    padding-left: 6vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: red;
    border: 2px solid turquoise;
}

#switch-mode-button-unfolded-light {
    color: yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 15vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: darkblue;
    border: 2px solid turquoise;
}

#switch-mode-button-unfolded-dark {
    position: relative;
    left: -25vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 15vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: green;
    border: 2px solid greenyellow;
}

#switch-mode-button-folded-light {
    color: yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 35vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: darkblue;
    border: 2px solid turquoise;
}

#switch-mode-button-folded-dark {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 10vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: green;
    border: 2px solid greenyellow;
}

#logout-button-unfolded-light {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 15vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: orange;
    border: 2px solid greenyellow;
}

#logout-button-unfolded-dark {
    position: relative;
    left: -10vw;
    color: yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 0vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: purple;
    border: 2px solid turquoise;
}

#logout-button-folded-light {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 35vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: darkorange;
    border: 2px solid greenyellow;
}

#logout-button-folded-dark {
    color: yellow;
    font-family: 'Roboto', sans-serif;
    font-size: 5vw;
    height: 30vw;
    width: 30vw;
    margin-left: 10vw;
    margin-top: 10vw;
    border-radius: 50vw;
    background-color: purple;
    border: 2px solid turquoise;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#reassurance-unfolded-light {
    font-size: 5vw;
    position: relative;
    top: 12vw;
    right: 5vw;
}

#reassurance-unfolded-dark {
    color: yellow;
    font-size: 5vw;
    position: relative;
    top: 12vw;
    right: 10vw;
}

#reassurance-folded-light {
    display: none;
}

#reassurance-folded-dark {
    display: none;
}

#out-of-mind-unfolded-light {
    font-size: 5vw;
    position: relative;
    top: 10vw;
    right: 7vw;
    left: 8vw;
}

#out-of-mind-unfolded-dark {
    color: yellow;
    font-size: 5vw;
    position: relative;
    top: 3vw;
    right: 2vw;
    left: -17vw;
}

#out-of-mind-folded-light {
    display: none;
}

#out-of-mind-folded-dark {
    display: none;
}

#reassurance-checkbox-unfolded-light {
    height: 7vw;
    width: 7vw;
    position: relative;
    right: 39vw;
    top: 25vw;
}

#reassurance-checkbox-unfolded-dark {
    height: 7vw;
    width: 7vw;
    position: relative;
    right: 39vw;
    top: 25vw;
}

#reassurance-checkbox-folded-light {
    display: none;
}

#reassurance-checkbox-folded-dark {
    display: none;
}

#out-of-mind-checkbox-unfolded-light {
    height: 8vw;
    width: 8vw;
    position: relative;
    right: 39vw;
    top: 27vw;
}

#out-of-mind-checkbox-unfolded-dark {
    height: 18vw;
    width: 18vw;
    position: relative;
    right: 39vw;
    top: 27vw;
}

#out-of-mind-checkbox-folded-light {
    display: none;
}

#out-of-mind-checkbox-folded-dark {
    display: none;
}