@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

.page-margin-light {
  padding-left: 15vw;
  padding-right: 15vw;
}

.page-margin-dark {
  padding-right: 24vw;
}

.main-light {
  padding-top: 30vw;
  padding-bottom: 30vw;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.main-dark {
  background-color: black;
  margin: 0;
  padding-top: 30vw;
  padding-left: 25vw;
  padding-bottom: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.regular-text-light {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  line-height: 8vw;
  text-align: center;
}

.regular-text-dark {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  line-height: 8vw;
  text-align: center;
}

/* HOME, LOGIN, SIGNUP PAGES */

#cover-background-light {
  margin: 0;
  background-image: url("./images/concert-crowd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 22vw;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#cover-background-dark {
  margin: 0;
  background-image: url("./images/concert-crowd-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 22vw;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#cover-background-expanded-light {
  background-image: url("./images/concert-crowd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 22vw;
  height: 220vw;
  width: 100%;
  z-index: 0;
}

#cover-background-expanded-dark {
  background-image: url("./images/concert-crowd-dark.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 22vw;
  height: 220vw;
  width: 100%;
  z-index: 0;
}

#main-title-light {
  font-family: 'Righteous', cursive;
  font-size: 15vw;
  text-align: center;
  margin-bottom: 0px;
}

#main-title-dark {
  color: yellow;
  font-family: 'Righteous', cursive;
  font-size: 15vw;
  text-align: center;
  margin-bottom: 0px;
}

#motto-light {
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  text-align: center;
}

#motto-dark {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  text-align: center;
}

.input-form-light {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 25vw;
}

.input-form-dark {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 25vw;
}

.input-form-light label {
  font-family: 'Roboto', sans-serif;
  font-size: 7.5vw;
  text-align: center;
}

.input-form-dark label {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-size: 7.5vw;
  text-align: center;
}

.input-form-light input {
  margin-bottom: 2vw;
  background-color: rgb(173, 255, 47, 0.7);
  height: 10vw;
  border-radius: 20vw;
  border: 2px solid green;
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  text-align: center;
}

.input-form-dark input {
  margin-bottom: 2vw;
  background-color: rgb(64, 224, 208, 0.5);
  height: 10vw;
  border-radius: 20vw;
  border: 2px solid turquoise;
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  text-align: center;
}

#submit-button-light {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  height: 20vw;
  width: 20vw;
  margin-left: 15vw;
  margin-top: 20vw;
  border-radius: 50vw;
  background-color: green;
  border: 2px solid greenyellow;
}

#submit-button-dark {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  height: 20vw;
  width: 20vw;
  margin-left: 15vw;
  margin-top: 20vw;
  border-radius: 50vw;
  background-color: blue;
  border: 2px solid turquoise;
}

#browse-button-light {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  text-align: center;
  height: 20vw;
  width: 20vw;
  margin-left: 38vw;
  margin-top: 20vw;
  border-radius: 50vw;
  background-color: green;
  border: 2px solid greenyellow;
}

#browse-button-dark {
  color: yellow;
  font-family: 'Roboto', sans-serif;
  font-size: 5vw;
  text-align: center;
  height: 20vw;
  width: 20vw;
  margin-left: 38vw;
  margin-top: 20vw;
  border-radius: 50vw;
  background-color: blue;
  border: 2px solid turquoise;
}

#account-yet-light {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  text-align: center;
  color: white;
  text-decoration: none;
}

#account-yet-dark {
  font-family: 'Roboto', sans-serif;
  font-size: 3vw;
  text-align: center;
  color: yellow;
  text-decoration: none;
}

#account-yet-light p {
  background-color: green;
  border-bottom: 2px solid greenyellow;
  border-top: 2px solid greenyellow;
  padding: 3vw;
}

#account-yet-dark p {
  background-color: blue;
  border-bottom: 2px solid turquoise;
  border-top: 2px solid turquoise;
  padding: 3vw;
}

/* -- */

.artists-card > link > img {
  width:100px; 
  height: auto; 
  border-radius: 25px;
  margin: 15px;
}

.artists-card {
  display:flex;
  margin: 20px;
}

.artist-img, .album-image {
  width:100px; 
  height: auto; 
  border-radius: 25px;
  margin: 15px;
}

.album-box {
  display: flex;
  flex-direction: row;
  max-width: 95vw;
  overflow-x: scroll;  
}

.chat-container {
  max-width: 400px;
  padding: 0px 20px 20px 20px;
}

#messages {
  border: 15px solid darkcyan;
  border-radius: 25px;
  height: 400px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.sender {
  border: 10px solid rgb(58, 143, 255);
  border-radius: 25px 25px 5px 25px;
  margin: 5px;
  width: 70%;
  padding: 10px; 
  float: right;
  margin-left: 45px;
}

.chat-page, .main-page-container, .music-page-container, .album-page-container {
  margin: 100px 15px 0px 15px;
}

.chat-page > h3 {
  text-align: center; 
}

.receiver {
  border: 10px solid rgb(58, 143, 255);
  border-radius: 5px 25px 25px 25px;
  margin: 5px;
  width: 70%;
  padding: 10px; 
}

.send-chat {
  background-color: white;
  border: 5px solid rgb(58, 143, 255);
  border-radius: 20%;
  padding: 5px;
  margin-left: 5px;
}

.input-group
{
  display: flex;
  justify-content: space-between;
}
.input-group > input {
  border: 7px solid darkcyan;
  border-radius: 25px;
  width: 65vw;
  height: 30px;
}

.chat-page > h1 {
  text-align: center;
}

.back-btn-chat {
  position: absolute; 
  right: 37px;
  top: 140px;
}

.time-chat {
  font-size: .7rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.name-link {
  text-decoration: none;
}

.dummy {
  margin-top: 110px;
}

.col-md-4 > h4 {
  text-align: center;
}

.profile-container{
  margin: 100px 20px 20px 20px;
}


/* SETTINGS PAGES */

.event-page {
  margin-top: 30vw;
}

/* Artist Page  */
.artist-page-container {
  text-align: center;
}

.create-form-container {
  margin: 30vh 5vh;
}

.create-form-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-form-container > form > div {
  margin: 10px;
}

.favorite-icon {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 540px) {
  
/* HOME, LOGIN, SIGNUP PAGES */

  #cover-background-expanded {
    height: 100%;
  }
  
  .input-form input {
    height: 7vw;
  }

  #submit-button {
    margin-left: 15vw;
    margin-top: 5vw;
  }
}
